@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  color: white;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

h1 {

  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;

  font-size: 5.75rem;  
}

.christmasFont {
  font-family: "Mountains of Christmas", serif;
  font-weight: 900;
  font-style: normal;
}


@media (max-width: 1024px) {
  html {
    font-size: calc(100vw / 786 * 10);
  }
}

@media (max-width: 767px) {
  html {
    font-size: calc(100vw / 500 * 10);
  }
}

@media (max-width: 500) {
  html {
    font-size: calc(100vw / 360 * 10);
  }
}